/* styles.css */

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #006400;
  }
  
  /* Header and Navigation */
  header {
    background-color: #0e0e0e;
    padding: 20px;
    
  }

  header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
  }

  nav ul li a:hover {
    color: #9b9b9b;
    font-weight: bold;
  }
  
  /* Hero Section */

  .hero {
    height: 100vh;
    background-image: url('/assets/Images/GJJ_HQ_JL.jpg');
    background-size: cover;
    background-position: 82px top;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #070707;
    opacity: .7;
    mix-blend-mode: multiply;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #202020;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #034703;
    color: #ffffff;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); /*adds shaddow?*/
  }

  .cta-button:hover {
    transform: translateY(-1.25px);
    box-shadow: 0 4px 0 rgba(32, 32, 32, 0.1);
    background-color: #054d05;
  }
  
  /* About, Facility, and Contact Sections */
  section {
    padding: 80px 0;
    text-align: center;
  }
  
  section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #006400;
  }

  section p {
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
  
  /* Footer */
  footer {
    background-color: #303030;
    color: #ffffff;
    padding: 20px;
  }
  